exclude *.ipynb
include *.ini

include models/ner/deberta_v3_large/20240309_092749/*.json
include models/ner/deberta_v3_large/20240309_092749/*.safetensors
include models/ner/deberta_v3_large/20240309_092749/*.model
